
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: .25em;
}

button.action-button,
input.action-button{
    /*background-color: #5EA4CA;*/
    background-color: #2479A7;
    border: 0px;
}

#action-panel button.action-button:hover,
#action-panel input.action-button:hover,
#action-panel button.action-button:active,
#action-panel input.action-button:active{
    /*background-color: #2479A7;*/
    background-color: #064c72;
    border: 0px;
}

.login-box {
    background-color: #c0e2f6;
    width: 35%;
}
.explainerator {
    background-color: #a1d0ea;
}

.action-panel {
    /*background-color: #ffdede;*/
    background-color: #a1d0ea;
}

.message-text {
    color: #b21f2d;
}

.committee {
    min-width: 450px;
    max-width: 450px;
    margin: 2em;
    background-color: lightgray;
    padding: 1rem;
}

.delegate-list--panel {
    margin-right: 6rem;
}

.committee--delegates__panel-header {
    text-decoration: underline;
}


.button-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
    margin: 0rem .5rem;
}
