
{% load static %}
{% load custom_tags %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static "conference/bs-css/bootstrap.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "conference/styles.css" %}" type="text/css" />
        <script type="text/javascript" src={% static 'conference/jquery-3.4.1.min.js' %}></script>
        <title>Conference Assignments</title>
    </head>
    <body class="container">
        {{ request_type|json_script:"request_type" }}
        <div class="explainerator p-3">
            <h1 class="page-title">Committee Assignment Application</h1>
            <p>This is a rough demo of a web application that can be used to assign a new panel of delegates to conference committees.  It is meant to replace the current laborious manual process. An historical conference (2017) was used in order to allow for comparisons of actual historical assignments to assignments created by this app. Panel {{ panel1.panel_number }} delegates are "fixed" in the sense that their assignments will not change. Panel {{ panel2.panel_number }} delegates can be shown in their historical form, cleared completely (to see more clearly what the starting point of Panel {{ panel1.panel_number }} assignments was), or reassigned to new committees, which is the purpose of this application.</p>

            <p>There are some aspects of the data and assignment process that are incorrect or need some work, however, the majority of the assignment process has likely been covered.  The assignment algorithm tries to accomodate the following goals for each committee:</p>
            <ol class="mb-2">
                <li>Gender balance</li>
                <li>Regional balance</li>
                <li>Minimize adjacent areas on same committees</li>
                <li>Avoid the past 4 committee assignments for each Area</li>
            </ol>
            <p>The committee assignment process is a series of iterations.  In each iteration, an attempt is made to assign the Panel {{ panel2.panel_number }} delegates to committees as guided by the goals above. If all of the delegates can't be assigned using a strict adherence to top level goals, the Panel {{ panel2.panel_number }} delegate list is randomized and another attempt is made. As the iteration count goes up, the restrictions are loosened in order to make a successful assignment round more likely. For instance, the algorithm will start to allow delegates from adjacent areas to serve on the same committee after 3 iterations.  Because the number of iterations can have a significant impact on the quality of the assignments, the message panel below reports how many iterations were taken to do the assignments as part of its completion message.  If the iteration count was high, it means that the restrictions were very loose by the time the delegates were assigned and you should probably try the assignments again.</p>
        </div>
        <hr/>
        <div id="instruction-panel" class="action-panel p-3 mb-2">
            <p><strong>Instructions:</strong>  There are three potential actions you can take.  At any time, you can click the "Reload Panel {{ panel2.panel_number }}" button to reload the historical committee assignments for all delegates in Panel {{ panel2.panel_number }} (the assignments for Panel {{ panel1.panel_number }} will always be preserved).  Clicking the "Assign Panel {{ panel2.panel_number }}" button will wipe out the Panel {{ panel2.panel_number }} assignments and try to provide new assignments.  <strong>Please note that the algorithm takes about 30 seconds to run, so please be patient.</strong>  If you want to see what the Panel {{ panel1.panel_number }} assignments looked like prior to assigning Panel {{ panel2.panel_number }}, you can click the "Clear Panel {{ panel2.panel_number }}" button. You will get a message about whether the the process succeeds or fails in the message box just below the buttons.  The full committee assignments are displayed in grey boxes below the message box, and the full delegate listing is at the bottom of the page.  You can take any of these actions as often as you like, however, assignments made by the algorithm currently aren't saved and can't be retrieved once you take another action.</p>
        </div>
        <div id="action-panel" class="action-panel p-3 mb-5">
            <p><strong>Actions:</strong></p>
            <div class="mt-2 mb-4">
                <form action="" method="post" class="d-flex">
                    {% csrf_token %}
                    <input type="hidden" type="text" name="action"/>
                    <div class="button-container">
                        <span class="text-center mb-3">Click this button to (re)assign the Panel {{ panel2.panel_number }} delegates to committees.</span>
                        <button
                            name="action"
                            value="assign"
                            class="btn btn-primary action-button"
                            type="Submit">Assign Panel {{ panel2.panel_number }}
                        </button>
                    </div>
                    <div class="button-container">
                        <span class="text-center mb-3">Click this button to erase the Panel {{ panel2.panel_number }} delegates' assigned committees.</span>
                        <button
                            name="action"
                            value="clear"
                            class="btn btn-primary action-button"
                            type="Submit">Clear Panel {{ panel2.panel_number }}
                        </button>
                    </div>
                    <div class="button-container">
                        <span class="text-center mb-3">Click this button to reload the actual Panel {{ panel2.panel_number }} delegates' assignments.</span>
                        <button
                            name="action"
                            value="reload"
                            class="btn btn-primary action-button"
                            type="Submit">Reload Panel {{ panel2.panel_number }}
                        </button>
                    </div>
                </form>
            </div>

            <p><strong>Message:</strong></p>
            <div class="bg-light p-1 pl-3 mt-2">
                <span id="message-text" class="message-text"><strong>{{ message }}</strong></span>
            </div>
        </div>

        <div class="committee-list p-3 mb-3">
            <h3>Committee Assignments</h3>
            <span class="mr-4">
                <strong>Number of female delegates: {{ gender_count_totals.0 }}</strong>
            </span>
            <span>
                <strong>Number of male delegates: {{ gender_count_totals.1 }}</strong>
            </span>
            <div class="d-flex flex-wrap">
            {% for cmte in composition %}
                <div class="committee flex-fill">
                    <h4>{{ cmte.display_name }}</h4>
                    <p><strong>Regions: {{ cmte.regions|region_count_display}}</strong></p>
                    <p><strong>Adjacent Areas: {{ cmte.adjacent_areas|adjacent_areas }}</strong></p>
                    <p><strong>Gender Ratio: {{ cmte.gender_counts|gender_count_display}}</strong></p>
                    <div class="mt-2">
                        <span class="committee--delegates__panel-header">Panel {{ panel1.panel_number }}</span>
                            <ul>
                            {% for delegate in cmte.delegates %}
                                {% if delegate.panel == panel1.panel_number %}
                                    <li class="committee--delegate">
                                        {{delegate.name}} - {{delegate.area.name}} ({{ delegate.area.areaNumber }} {{ delegate.area.region }})
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                    </div>
                    {% if panel2.delegates.0.committee.exists %}
                        <div class="committee--delegates__panel">
                            <span class="committee--delegates__panel-header">Panel {{ panel2.panel_number }}</span>
                            <ul>
                            {% for delegate in cmte.delegates %}
                                {% if delegate.panel == panel2.panel_number %}
                                    <li class="committee--delegate">
                                        {{delegate.name}} - {{delegate.area.name}} ({{ delegate.area.areaNumber }} {{ delegate.area.region }})
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="delegate-list p-3 mt-3">
            <h3>Delegates by Panel and Area</h3>
            <div class="d-flex mt-4">
                <div id="first-panel" class="delegate-list--panel">
                    <h4>Panel {{panel1.panel_number}}</h4>
                    <ul>
                    {% for delegate in panel1.delegates %}
                        <li>
                            {{ delegate.name }} (Area {{delegate.area.areaNumber}}) -
                                {{  delegate.committee.all|assigned_committees_display }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="second-panel">
                    <h4>Panel {{panel2.panel_number}}</h4>
                        <ul>
                        {% for delegate in panel2.delegates %}
                            <li>
                                {{ delegate.name }} (Area {{delegate.area.areaNumber}}) -
                                {% if delegate.committee.all|length > 0 %}
                                    {{  delegate.committee.all|assigned_committees_display }}
                                {% else %}
                                    Unassigned
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </body>
    <footer>
        <script type="text/javascript" src={% static 'conference/bs-js/bootstrap.bundle.js' %}></script>
        <script type="text/javascript" src={% static 'conference/custom.js' %}></script>
    </footer>
</html>
