{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static "conference/bs-css/bootstrap.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "conference/styles.css" %}" type="text/css" />
{#        <script type="text/javascript" src={% static 'conference/jquery-3.4.1.min.js' %}></script>#}
        <title>Login</title>
    </head>
    <body class="d-flex justify-content-center">
        <div class="d-flex flex-column login-box mt-5">
            <div class="d-flex justify-content-center pt-4 pb-4">
            {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
              {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
              {% else %}
                <h4>Please login to access the site.</h4>
              {% endif %}
            {% endif %}
            </div>
            <div class="d-flex justify-content-center">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p>{{ form.username.label_tag }}</p>
                    <p class="mb-3">{{ form.username }}</p>

                    <p>{{ form.password.label_tag }}</p>
                    <p class="mb-3">{{ form.password }}</p>

                <input class="btn btn-primary action-button mt-2 mb-4" type="submit" value="login" />
                <input type="hidden" name="next" value="/" />
                </form>
            </div>
        </div>
    </body>
</html>